.pizzaForm{
  width: 100%;
  background-color: #ffff;
}

.pizzaFormContainer{
  width: 33%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: start;
  justify-content: center;
  margin: 0 auto;
  padding-top: 50px;
}

.pizzaFormSizePart{
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 30px;
}

@media (max-width: 1024px) {
  .pizzaFormContainer {
    width: 50%;
  }
}

@media (max-width: 768px) {
  .pizzaFormContainer {
    width: 90%;
    padding: 20px;
  }
}





